.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  width: 300px;
  height: auto;
  border: 1px solid rgba(128, 128, 128, 0.308);
  padding: 10px 0;
  background-color: #fff;
  margin-bottom: 5px;
  font-size: 18px;
}
.avatar {
  margin-right: 15px;
  border-radius: 10%;
  border: 1px solid transparent;
  background-color: rgba(0, 255, 255, 0.507);
}
.isOnline {
  width: 15px;
  height: 15px;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: green;
  margin: 0 15px;
}
.isOffline {
  composes: isOnline;
  background-color: tomato;
}
